{% extends "base.html" %}
{% block content %}
<div class="center">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Folks Gym Logo" style="max-width: 200px;">
</div>

<h2>О клубе</h2>
<p><strong>Folks Gym</strong> — это современный спортивный клуб, открывшийся в <strong>2025 году</strong>.чтобы вдохновлять и поддерживать вас на пути к здоровью и отличной физической форме.</p>
<p>Занятия спортом — это не только сила и выносливость, но и уверенность в себе, хорошее настроение и здоровье. С <strong>Folks Gym</strong> вы быстрее достигнете желаемых результатов благодаря профессиональной поддержке и дружественной атмосфере!</p>
{% endblock %} "